USE [GRP-04-16]
GO
/****** Object:  Table [dbo].[active_ingredient_medication]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[active_ingredient_medication](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[medication_id] [bigint] NOT NULL,
	[active_ingredient_id] [bigint] NOT NULL,
	[strength] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[active_ingredient_user]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[active_ingredient_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[active_ingredient_id] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[active_ingredients]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[active_ingredients](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[allergies]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[allergies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[allergy_user]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[allergy_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[allergy_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache](
	[key] [nvarchar](255) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache_locks]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache_locks](
	[key] [nvarchar](255) NOT NULL,
	[owner] [nvarchar](255) NOT NULL,
	[expiration] [int] NOT NULL,
 CONSTRAINT [cache_locks_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_allergies]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_allergies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[active_ingredient_id] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[id_number] [nvarchar](255) NOT NULL,
	[cellphone_number] [nvarchar](255) NULL,
	[allergies] [nvarchar](max) NULL,
	[state] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[street] [nvarchar](255) NULL,
	[house_number] [nvarchar](255) NULL,
	[postal_code] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dispensed_items]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dispensed_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[prescription_id] [bigint] NOT NULL,
	[prescription_item_id] [bigint] NOT NULL,
	[medication_id] [bigint] NOT NULL,
	[pharmacist_id] [bigint] NOT NULL,
	[quantity_dispensed] [int] NOT NULL,
	[cost] [decimal](10, 2) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[dispensed_at] [datetime] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[surname] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](255) NOT NULL,
	[practice_number] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dosage_forms]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dosage_forms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[failed_jobs]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[failed_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](255) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generated_reports]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generated_reports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[report_type] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[parameters] [nvarchar](max) NOT NULL,
	[file_path] [nvarchar](255) NOT NULL,
	[original_filename] [nvarchar](255) NOT NULL,
	[file_size] [int] NULL,
	[generated_at] [datetime] NOT NULL,
	[expires_at] [datetime] NULL,
	[download_count] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_batches]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_batches](
	[id] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[total_jobs] [int] NOT NULL,
	[pending_jobs] [int] NOT NULL,
	[failed_jobs] [int] NOT NULL,
	[failed_job_ids] [nvarchar](max) NOT NULL,
	[options] [nvarchar](max) NULL,
	[cancelled_at] [int] NULL,
	[created_at] [int] NOT NULL,
	[finished_at] [int] NULL,
 CONSTRAINT [job_batches_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[queue] [nvarchar](255) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[attempts] [tinyint] NOT NULL,
	[reserved_at] [int] NULL,
	[available_at] [int] NOT NULL,
	[created_at] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medication_suppliers]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medication_suppliers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[contact_name] [nvarchar](255) NOT NULL,
	[contact_surname] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medications]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[dosage_form_id] [bigint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[schedule] [tinyint] NOT NULL,
	[current_sale_price] [decimal](10, 2) NOT NULL,
	[supplier_id] [bigint] NOT NULL,
	[reorder_level] [int] NOT NULL,
	[quantity_on_hand] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[active_ingredient_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[model_has_permissions]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[model_has_permissions](
	[permission_id] [bigint] NOT NULL,
	[model_type] [nvarchar](255) NOT NULL,
	[model_id] [bigint] NOT NULL,
 CONSTRAINT [model_has_permissions_permission_model_type_primary] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC,
	[model_id] ASC,
	[model_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[model_has_roles]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[model_has_roles](
	[role_id] [bigint] NOT NULL,
	[model_type] [nvarchar](255) NOT NULL,
	[model_id] [bigint] NOT NULL,
 CONSTRAINT [model_has_roles_role_model_type_primary] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[model_id] ASC,
	[model_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[prescription_id] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[order_date] [date] NULL,
	[status] [nvarchar](255) NOT NULL,
	[total_amount_due] [decimal](10, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[email] [nvarchar](255) NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [password_reset_tokens_email_primary] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[guard_name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pharmacies]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[health_council_registration_number] [nvarchar](255) NOT NULL,
	[physical_address] [nvarchar](255) NULL,
	[contact_number] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[website_url] [nvarchar](255) NULL,
	[responsible_pharmacist_id] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pharmacist_profiles]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacist_profiles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[surname] [nvarchar](255) NULL,
	[id_number] [nvarchar](255) NULL,
	[phone_number] [nvarchar](255) NULL,
	[registration_number] [nvarchar](255) NULL,
	[registration_date] [date] NULL,
	[bio] [nvarchar](max) NULL,
	[avatar] [nvarchar](255) NULL,
	[specializations] [nvarchar](max) NULL,
	[certifications] [nvarchar](max) NULL,
	[qualification] [nvarchar](255) NULL,
	[university] [nvarchar](255) NULL,
	[graduation_year] [int] NULL,
	[years_experience] [int] NULL,
	[languages] [nvarchar](max) NULL,
	[license_status] [nvarchar](255) NOT NULL,
	[license_expiry] [date] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[pharmacy_id] [bigint] NULL,
	[profile_completed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pharmacists]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacists](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[id_number] [nvarchar](255) NOT NULL,
	[cellphone_number] [nvarchar](255) NOT NULL,
	[health_council_registration_number] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pharmacy_manager]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pharmacy_manager](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[pharmacy_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription_items]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[prescription_id] [bigint] NOT NULL,
	[medication_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[instructions] [nvarchar](max) NULL,
	[repeats] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[repeats_used] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[file_path] [nvarchar](255) NULL,
	[status] [nvarchar](255) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[deleted_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[name] [nvarchar](255) NOT NULL,
	[repeats_total] [int] NOT NULL,
	[repeats_used] [int] NOT NULL,
	[next_repeat_date] [date] NULL,
	[delivery_method] [nvarchar](255) NULL,
	[doctor_id] [bigint] NULL,
	[patient_id_number] [nvarchar](255) NULL,
	[is_manual] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_has_permissions]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_has_permissions](
	[permission_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
 CONSTRAINT [role_has_permissions_permission_id_role_id_primary] PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[guard_name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](255) NOT NULL,
	[user_id] [bigint] NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[payload] [nvarchar](max) NOT NULL,
	[last_activity] [int] NOT NULL,
 CONSTRAINT [sessions_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_order_items]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_order_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[stock_order_id] [bigint] NOT NULL,
	[medication_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_orders]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](255) NOT NULL,
	[supplier_id] [bigint] NOT NULL,
	[status] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2025/10/16 07:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[email_verified_at] [datetime] NULL,
	[password] [nvarchar](255) NOT NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[role] [nvarchar](255) NULL,
	[surname] [nvarchar](255) NULL,
	[id_number] [nvarchar](255) NULL,
	[phone_number] [nvarchar](255) NULL,
	[registration_number] [nvarchar](255) NULL,
	[registration_date] [date] NULL,
	[bio] [nvarchar](max) NULL,
	[specializations] [nvarchar](max) NULL,
	[certifications] [nvarchar](max) NULL,
	[avatar] [nvarchar](255) NULL,
	[password_changed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[active_ingredient_medication] ON 

INSERT [dbo].[active_ingredient_medication] ([id], [medication_id], [active_ingredient_id], [strength], [created_at], [updated_at]) VALUES (1, 1, 6, N'18mg', NULL, NULL)
INSERT [dbo].[active_ingredient_medication] ([id], [medication_id], [active_ingredient_id], [strength], [created_at], [updated_at]) VALUES (2, 2, 2, N'2mg', NULL, NULL)
INSERT [dbo].[active_ingredient_medication] ([id], [medication_id], [active_ingredient_id], [strength], [created_at], [updated_at]) VALUES (3, 2, 3, N'50mg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[active_ingredient_medication] OFF
GO
SET IDENTITY_INSERT [dbo].[active_ingredients] ON 

INSERT [dbo].[active_ingredients] ([id], [name], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Pylorazine', CAST(N'2025-10-16T05:14:52.307' AS DateTime), CAST(N'2025-10-16T05:14:52.307' AS DateTime), NULL)
INSERT [dbo].[active_ingredients] ([id], [name], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Vaspril', CAST(N'2025-10-16T05:14:52.313' AS DateTime), CAST(N'2025-10-16T05:14:52.313' AS DateTime), NULL)
INSERT [dbo].[active_ingredients] ([id], [name], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Zentropine', CAST(N'2025-10-16T05:14:52.317' AS DateTime), CAST(N'2025-10-16T05:14:52.317' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[active_ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[allergies] ON 

INSERT [dbo].[allergies] ([id], [name], [description], [created_at], [updated_at]) VALUES (1, N'Penicillin', NULL, CAST(N'2025-10-16T05:14:52.380' AS DateTime), CAST(N'2025-10-16T05:14:52.380' AS DateTime))
INSERT [dbo].[allergies] ([id], [name], [description], [created_at], [updated_at]) VALUES (2, N'Sulfa', NULL, CAST(N'2025-10-16T05:14:52.383' AS DateTime), CAST(N'2025-10-16T05:14:52.383' AS DateTime))
INSERT [dbo].[allergies] ([id], [name], [description], [created_at], [updated_at]) VALUES (3, N'Latex', NULL, CAST(N'2025-10-16T05:14:52.387' AS DateTime), CAST(N'2025-10-16T05:14:52.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[allergies] OFF
GO
SET IDENTITY_INSERT [dbo].[customer_allergies] ON 

INSERT [dbo].[customer_allergies] ([id], [user_id], [active_ingredient_id], [created_at], [updated_at]) VALUES (1, 3, 9, CAST(N'2025-10-16T05:14:53.540' AS DateTime), CAST(N'2025-10-16T05:14:53.540' AS DateTime))
INSERT [dbo].[customer_allergies] ([id], [user_id], [active_ingredient_id], [created_at], [updated_at]) VALUES (2, 3, 19, CAST(N'2025-10-16T05:14:53.540' AS DateTime), CAST(N'2025-10-16T05:14:53.540' AS DateTime))
INSERT [dbo].[customer_allergies] ([id], [user_id], [active_ingredient_id], [created_at], [updated_at]) VALUES (3, 4, 4, CAST(N'2025-10-16T05:14:53.543' AS DateTime), CAST(N'2025-10-16T05:14:53.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[customer_allergies] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [user_id], [id_number], [cellphone_number], [allergies], [state], [city], [street], [house_number], [postal_code], [created_at], [updated_at]) VALUES (1, 8, N'2497503998', N'+1-629-762-2682', N'Pollen', N'Gauteng', N'North Robertaville', N'Quinn Village', N'95301', N'58714-5717', CAST(N'2025-10-16T05:14:53.513' AS DateTime), CAST(N'2025-10-16T05:14:53.513' AS DateTime))
INSERT [dbo].[customers] ([id], [user_id], [id_number], [cellphone_number], [allergies], [state], [city], [street], [house_number], [postal_code], [created_at], [updated_at]) VALUES (2, 9, N'9451332156', N'563.603.4859', N'Pollen', N'Northern Cape', N'New Kaycee', N'Farrell Roads', N'49989', N'59073-5064', CAST(N'2025-10-16T05:14:53.517' AS DateTime), CAST(N'2025-10-16T05:14:53.517' AS DateTime))
INSERT [dbo].[customers] ([id], [user_id], [id_number], [cellphone_number], [allergies], [state], [city], [street], [house_number], [postal_code], [created_at], [updated_at]) VALUES (3, 10, N'8428502757', N'(309) 762-3813', N'Dust', N'Eastern Cape', N'Hermannview', N'Gust Canyon', N'7351', N'13123-1071', CAST(N'2025-10-16T05:14:53.520' AS DateTime), CAST(N'2025-10-16T05:14:53.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[doctors] ON 

INSERT [dbo].[doctors] ([id], [name], [surname], [email], [phone], [practice_number], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Emily', N'Johnson', N'emily.johnson@example.com', N'123-456-7890', N'HPC-12345', CAST(N'2025-10-16T05:14:52.453' AS DateTime), CAST(N'2025-10-16T05:14:52.453' AS DateTime), NULL)
INSERT [dbo].[doctors] ([id], [name], [surname], [email], [phone], [practice_number], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Michael', N'Smith', N'michael.smith@example.com', N'987-654-3210', N'HPC-67890', CAST(N'2025-10-16T05:14:52.457' AS DateTime), CAST(N'2025-10-16T05:14:52.457' AS DateTime), NULL)
INSERT [dbo].[doctors] ([id], [name], [surname], [email], [phone], [practice_number], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Sophia', N'Williams', N'sophia.williams@example.com', N'555-123-4567', N'HPC-11223', CAST(N'2025-10-16T05:14:52.463' AS DateTime), CAST(N'2025-10-16T05:14:52.463' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[dosage_forms] ON 

INSERT [dbo].[dosage_forms] ([id], [name], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Tablet', CAST(N'2025-10-16T05:14:52.277' AS DateTime), CAST(N'2025-10-16T05:14:52.277' AS DateTime), NULL)
INSERT [dbo].[dosage_forms] ([id], [name], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Capsule', CAST(N'2025-10-16T05:14:52.280' AS DateTime), CAST(N'2025-10-16T05:14:52.280' AS DateTime), NULL)
INSERT [dbo].[dosage_forms] ([id], [name], [created_at], [updated_at], [deleted_at]) VALUES (3, N'Suspension', CAST(N'2025-10-16T05:14:52.280' AS DateTime), CAST(N'2025-10-16T05:14:52.280' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[dosage_forms] OFF
GO
SET IDENTITY_INSERT [dbo].[medication_suppliers] ON 

INSERT [dbo].[medication_suppliers] ([id], [name], [email], [created_at], [updated_at], [contact_name], [contact_surname]) VALUES (1, N'NovaCure', N'davie@example.com', CAST(N'2025-10-16T05:14:52.403' AS DateTime), CAST(N'2025-10-16T05:14:52.403' AS DateTime), N'Davie', N'Jones')
INSERT [dbo].[medication_suppliers] ([id], [name], [email], [created_at], [updated_at], [contact_name], [contact_surname]) VALUES (2, N'HelixMed', N'nmostert@mandela.ac.za', CAST(N'2025-10-16T05:14:52.407' AS DateTime), CAST(N'2025-10-16T05:14:52.407' AS DateTime), N'Nicky', N'Mostert')
INSERT [dbo].[medication_suppliers] ([id], [name], [email], [created_at], [updated_at], [contact_name], [contact_surname]) VALUES (3, N'VitaGenix', N'matimu@example.com', CAST(N'2025-10-16T05:14:52.410' AS DateTime), CAST(N'2025-10-16T05:14:52.410' AS DateTime), N'Matimu', N'Vuqa')
SET IDENTITY_INSERT [dbo].[medication_suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[medications] ON 

INSERT [dbo].[medications] ([id], [dosage_form_id], [name], [schedule], [current_sale_price], [supplier_id], [reorder_level], [quantity_on_hand], [created_at], [updated_at], [deleted_at], [active_ingredient_id]) VALUES (1, 1, N'CardioVex', 6, CAST(185.00 AS Decimal(10, 2)), 1, 100, 90, CAST(N'2025-10-16T05:14:53.227' AS DateTime), CAST(N'2025-10-16T05:14:53.227' AS DateTime), NULL, 6)
INSERT [dbo].[medications] ([id], [dosage_form_id], [name], [schedule], [current_sale_price], [supplier_id], [reorder_level], [quantity_on_hand], [created_at], [updated_at], [deleted_at], [active_ingredient_id]) VALUES (2, 1, N'Neurocalm', 2, CAST(95.00 AS Decimal(10, 2)), 2, 110, 100, CAST(N'2025-10-16T05:14:53.233' AS DateTime), CAST(N'2025-10-16T05:14:53.233' AS DateTime), NULL, 2)
INSERT [dbo].[medications] ([id], [dosage_form_id], [name], [schedule], [current_sale_price], [supplier_id], [reorder_level], [quantity_on_hand], [created_at], [updated_at], [deleted_at], [active_ingredient_id]) VALUES (3, 3, N'Allerfree Duo', 0, CAST(45.00 AS Decimal(10, 2)), 3, 150, 100, CAST(N'2025-10-16T05:14:53.237' AS DateTime), CAST(N'2025-10-16T05:14:53.237' AS DateTime), NULL, 4)
SET IDENTITY_INSERT [dbo].[medications] OFF
GO
SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (1, N'0001_01_01_000000_create_users_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (2, N'0001_01_01_000001_create_cache_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (3, N'0001_01_01_000002_create_jobs_table', 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF
GO
INSERT [dbo].[model_has_roles] ([role_id], [model_type], [model_id]) VALUES (1, N'App\Models\User', 1)
INSERT [dbo].[model_has_roles] ([role_id], [model_type], [model_id]) VALUES (3, N'App\Models\User', 3)
INSERT [dbo].[model_has_roles] ([role_id], [model_type], [model_id]) VALUES (3, N'App\Models\User', 4)
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [prescription_id], [created_at], [updated_at], [deleted_at]) VALUES (1, 1, 6, CAST(N'2025-10-16T05:14:53.707' AS DateTime), CAST(N'2025-10-16T05:14:53.707' AS DateTime), NULL)
INSERT [dbo].[order_items] ([id], [order_id], [prescription_id], [created_at], [updated_at], [deleted_at]) VALUES (2, 1, 16, CAST(N'2025-10-16T05:14:53.710' AS DateTime), CAST(N'2025-10-16T05:14:53.710' AS DateTime), NULL)
INSERT [dbo].[order_items] ([id], [order_id], [prescription_id], [created_at], [updated_at], [deleted_at]) VALUES (3, 2, 16, CAST(N'2025-10-16T05:14:53.713' AS DateTime), CAST(N'2025-10-16T05:14:53.713' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [customer_id], [order_date], [status], [total_amount_due], [created_at], [updated_at], [deleted_at]) VALUES (1, 6, CAST(N'2025-10-16' AS Date), N'dispensed', CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-10-16T05:14:53.697' AS DateTime), CAST(N'2025-10-16T05:14:53.697' AS DateTime), NULL)
INSERT [dbo].[orders] ([id], [customer_id], [order_date], [status], [total_amount_due], [created_at], [updated_at], [deleted_at]) VALUES (2, 8, CAST(N'2025-10-16' AS Date), N'approved', CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-10-16T05:14:53.710' AS DateTime), CAST(N'2025-10-16T05:14:53.710' AS DateTime), NULL)
INSERT [dbo].[orders] ([id], [customer_id], [order_date], [status], [total_amount_due], [created_at], [updated_at], [deleted_at]) VALUES (3, 3, CAST(N'2025-10-16' AS Date), N'rejected', CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-10-16T05:14:53.717' AS DateTime), CAST(N'2025-10-16T05:14:53.717' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[pharmacies] ON 

INSERT [dbo].[pharmacies] ([id], [name], [health_council_registration_number], [physical_address], [contact_number], [email], [website_url], [responsible_pharmacist_id], [created_at], [updated_at]) VALUES (1, N'Health Plus Pharmacy', N'HCP123456', N'123 Main Street, Cityville, Province 12345', N'+27 11 123 4567', N'info@healthplus.co.za', N'https://healthplus.co.za', NULL, CAST(N'2025-10-16T05:14:52.420' AS DateTime), CAST(N'2025-10-16T05:14:52.420' AS DateTime))
INSERT [dbo].[pharmacies] ([id], [name], [health_council_registration_number], [physical_address], [contact_number], [email], [website_url], [responsible_pharmacist_id], [created_at], [updated_at]) VALUES (2, N'Wellness Pharmacy', N'HCP789012', N'456 Oak Avenue, Townsburg, Province 67890', N'+27 21 987 6543', N'contact@wellness-pharmacy.co.za', N'https://wellness-pharmacy.co.za', NULL, CAST(N'2025-10-16T05:14:52.427' AS DateTime), CAST(N'2025-10-16T05:14:52.427' AS DateTime))
INSERT [dbo].[pharmacies] ([id], [name], [health_council_registration_number], [physical_address], [contact_number], [email], [website_url], [responsible_pharmacist_id], [created_at], [updated_at]) VALUES (3, N'Community Care Pharmacy', N'HCP345678', N'789 Pine Road, Villagetown, Province 34567', N'+27 31 555 1234', N'hello@communitycare.co.za', N'https://communitycare.co.za', NULL, CAST(N'2025-10-16T05:14:52.430' AS DateTime), CAST(N'2025-10-16T05:14:52.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[pharmacies] OFF
GO
SET IDENTITY_INSERT [dbo].[pharmacist_profiles] ON 

INSERT [dbo].[pharmacist_profiles] ([id], [user_id], [surname], [id_number], [phone_number], [registration_number], [registration_date], [bio], [avatar], [specializations], [certifications], [qualification], [university], [graduation_year], [years_experience], [languages], [license_status], [license_expiry], [created_at], [updated_at], [pharmacy_id], [profile_completed]) VALUES (1, 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'active', NULL, CAST(N'2025-10-16T05:14:52.750' AS DateTime), CAST(N'2025-10-16T05:14:52.750' AS DateTime), 1, 1)
INSERT [dbo].[pharmacist_profiles] ([id], [user_id], [surname], [id_number], [phone_number], [registration_number], [registration_date], [bio], [avatar], [specializations], [certifications], [qualification], [university], [graduation_year], [years_experience], [languages], [license_status], [license_expiry], [created_at], [updated_at], [pharmacy_id], [profile_completed]) VALUES (2, 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'active', NULL, CAST(N'2025-10-16T05:14:52.980' AS DateTime), CAST(N'2025-10-16T05:14:52.980' AS DateTime), 1, 1)
INSERT [dbo].[pharmacist_profiles] ([id], [user_id], [surname], [id_number], [phone_number], [registration_number], [registration_date], [bio], [avatar], [specializations], [certifications], [qualification], [university], [graduation_year], [years_experience], [languages], [license_status], [license_expiry], [created_at], [updated_at], [pharmacy_id], [profile_completed]) VALUES (3, 7, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'active', NULL, CAST(N'2025-10-16T05:14:53.210' AS DateTime), CAST(N'2025-10-16T05:14:53.210' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[pharmacist_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[pharmacists] ON 

INSERT [dbo].[pharmacists] ([id], [user_id], [id_number], [cellphone_number], [health_council_registration_number], [created_at], [updated_at], [deleted_at]) VALUES (1, 5, N'8501015678901', N'+27821234567', N'SAPC12345', CAST(N'2025-10-16T05:14:52.747' AS DateTime), CAST(N'2025-10-16T05:14:52.747' AS DateTime), NULL)
INSERT [dbo].[pharmacists] ([id], [user_id], [id_number], [cellphone_number], [health_council_registration_number], [created_at], [updated_at], [deleted_at]) VALUES (2, 6, N'7809123456789', N'+27829876543', N'SAPC67890', CAST(N'2025-10-16T05:14:52.980' AS DateTime), CAST(N'2025-10-16T05:14:52.980' AS DateTime), NULL)
INSERT [dbo].[pharmacists] ([id], [user_id], [id_number], [cellphone_number], [health_council_registration_number], [created_at], [updated_at], [deleted_at]) VALUES (3, 7, N'9203087654321', N'+27835551234', N'SAPC54321', CAST(N'2025-10-16T05:14:53.210' AS DateTime), CAST(N'2025-10-16T05:14:53.210' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[pharmacists] OFF
GO
SET IDENTITY_INSERT [dbo].[prescription_items] ON 

INSERT [dbo].[prescription_items] ([id], [prescription_id], [medication_id], [quantity], [instructions], [repeats], [price], [created_at], [updated_at], [deleted_at], [repeats_used]) VALUES (1, 1, 1, 2, N'Take as directed', 1, CAST(185.00 AS Decimal(10, 2)), CAST(N'2025-10-16T05:14:53.640' AS DateTime), CAST(N'2025-10-16T05:14:53.640' AS DateTime), NULL, 0)
INSERT [dbo].[prescription_items] ([id], [prescription_id], [medication_id], [quantity], [instructions], [repeats], [price], [created_at], [updated_at], [deleted_at], [repeats_used]) VALUES (2, 1, 8, 3, N'Take as directed', 1, CAST(110.00 AS Decimal(10, 2)), CAST(N'2025-10-16T05:14:53.647' AS DateTime), CAST(N'2025-10-16T05:14:53.647' AS DateTime), NULL, 0)
INSERT [dbo].[prescription_items] ([id], [prescription_id], [medication_id], [quantity], [instructions], [repeats], [price], [created_at], [updated_at], [deleted_at], [repeats_used]) VALUES (3, 2, 5, 2, N'Take as directed', 4, CAST(135.00 AS Decimal(10, 2)), CAST(N'2025-10-16T05:14:53.647' AS DateTime), CAST(N'2025-10-16T05:14:53.647' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[prescription_items] OFF
GO
SET IDENTITY_INSERT [dbo].[prescriptions] ON 

INSERT [dbo].[prescriptions] ([id], [user_id], [file_path], [status], [notes], [deleted_at], [created_at], [updated_at], [name], [repeats_total], [repeats_used], [next_repeat_date], [delivery_method], [doctor_id], [patient_id_number], [is_manual]) VALUES (1, 3, N'prescriptions/sample.pdf', N'approved', N'Et quo harum cumque neque quasi quia.', NULL, CAST(N'2025-10-16T05:14:53.583' AS DateTime), CAST(N'2025-10-16T05:14:53.583' AS DateTime), N'Qui et cumque.', 1, 0, CAST(N'2025-11-30' AS Date), NULL, 10, NULL, 0)
INSERT [dbo].[prescriptions] ([id], [user_id], [file_path], [status], [notes], [deleted_at], [created_at], [updated_at], [name], [repeats_total], [repeats_used], [next_repeat_date], [delivery_method], [doctor_id], [patient_id_number], [is_manual]) VALUES (2, 3, N'prescriptions/sample.pdf', N'dispensed', NULL, NULL, CAST(N'2025-10-16T05:14:53.587' AS DateTime), CAST(N'2025-10-16T05:14:53.587' AS DateTime), N'Quaerat dignissimos corrupti repellendus.', 4, 3, CAST(N'2025-11-20' AS Date), NULL, 9, NULL, 0)
INSERT [dbo].[prescriptions] ([id], [user_id], [file_path], [status], [notes], [deleted_at], [created_at], [updated_at], [name], [repeats_total], [repeats_used], [next_repeat_date], [delivery_method], [doctor_id], [patient_id_number], [is_manual]) VALUES (3, 4, N'prescriptions/sample.pdf', N'pending', NULL, NULL, CAST(N'2025-10-16T05:14:53.593' AS DateTime), CAST(N'2025-10-16T05:14:53.593' AS DateTime), N'Ut facilis nihil non.', 4, 0, CAST(N'2025-10-25' AS Date), NULL, 2, NULL, 0)
SET IDENTITY_INSERT [dbo].[prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [guard_name], [created_at], [updated_at]) VALUES (1, N'manager', N'web', CAST(N'2025-10-16T05:14:51.357' AS DateTime), CAST(N'2025-10-16T05:14:51.357' AS DateTime))
INSERT [dbo].[roles] ([id], [name], [guard_name], [created_at], [updated_at]) VALUES (2, N'pharmacist', N'web', CAST(N'2025-10-16T05:14:51.363' AS DateTime), CAST(N'2025-10-16T05:14:51.363' AS DateTime))
INSERT [dbo].[roles] ([id], [name], [guard_name], [created_at], [updated_at]) VALUES (3, N'customer', N'web', CAST(N'2025-10-16T05:14:51.367' AS DateTime), CAST(N'2025-10-16T05:14:51.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_order_items] ON 

INSERT [dbo].[stock_order_items] ([id], [stock_order_id], [medication_id], [quantity], [created_at], [updated_at]) VALUES (1, 1, 1, 31, CAST(N'2025-10-16T05:14:53.760' AS DateTime), CAST(N'2025-10-16T05:14:53.760' AS DateTime))
INSERT [dbo].[stock_order_items] ([id], [stock_order_id], [medication_id], [quantity], [created_at], [updated_at]) VALUES (2, 1, 14, 22, CAST(N'2025-10-16T05:14:53.763' AS DateTime), CAST(N'2025-10-16T05:14:53.763' AS DateTime))
INSERT [dbo].[stock_order_items] ([id], [stock_order_id], [medication_id], [quantity], [created_at], [updated_at]) VALUES (3, 1, 7, 43, CAST(N'2025-10-16T05:14:53.767' AS DateTime), CAST(N'2025-10-16T05:14:53.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[stock_order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_orders] ON 

INSERT [dbo].[stock_orders] ([id], [order_number], [supplier_id], [status], [created_at], [updated_at]) VALUES (1, N'ORD-20251016-0001', 6, N'Pending', CAST(N'2025-10-16T05:14:53.757' AS DateTime), CAST(N'2025-10-16T05:14:53.757' AS DateTime))
INSERT [dbo].[stock_orders] ([id], [order_number], [supplier_id], [status], [created_at], [updated_at]) VALUES (2, N'ORD-20251016-0002', 7, N'Pending', CAST(N'2025-10-16T05:14:53.770' AS DateTime), CAST(N'2025-10-16T05:14:53.770' AS DateTime))
INSERT [dbo].[stock_orders] ([id], [order_number], [supplier_id], [status], [created_at], [updated_at]) VALUES (3, N'ORD-20251016-0003', 8, N'Pending', CAST(N'2025-10-16T05:14:53.780' AS DateTime), CAST(N'2025-10-16T05:14:53.780' AS DateTime))
SET IDENTITY_INSERT [dbo].[stock_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]
GO
ALTER TABLE [dbo].[generated_reports] ADD  DEFAULT ('0') FOR [download_count]
GO
ALTER TABLE [dbo].[medications] ADD  DEFAULT ('0') FOR [current_sale_price]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('0') FOR [total_amount_due]
GO
ALTER TABLE [dbo].[pharmacist_profiles] ADD  DEFAULT ('active') FOR [license_status]
GO
ALTER TABLE [dbo].[pharmacist_profiles] ADD  DEFAULT ('0') FOR [profile_completed]
GO
ALTER TABLE [dbo].[prescription_items] ADD  DEFAULT ('0') FOR [repeats]
GO
ALTER TABLE [dbo].[prescription_items] ADD  DEFAULT ('0') FOR [price]
GO
ALTER TABLE [dbo].[prescription_items] ADD  DEFAULT ('0') FOR [repeats_used]
GO
ALTER TABLE [dbo].[prescriptions] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[prescriptions] ADD  DEFAULT ('0') FOR [repeats_total]
GO
ALTER TABLE [dbo].[prescriptions] ADD  DEFAULT ('0') FOR [repeats_used]
GO
ALTER TABLE [dbo].[prescriptions] ADD  DEFAULT ('0') FOR [is_manual]
GO
ALTER TABLE [dbo].[stock_orders] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[active_ingredient_medication]  WITH CHECK ADD  CONSTRAINT [active_ingredient_medication_active_ingredient_id_foreign] FOREIGN KEY([active_ingredient_id])
REFERENCES [dbo].[active_ingredients] ([id])
GO
ALTER TABLE [dbo].[active_ingredient_medication] CHECK CONSTRAINT [active_ingredient_medication_active_ingredient_id_foreign]
GO
ALTER TABLE [dbo].[active_ingredient_medication]  WITH CHECK ADD  CONSTRAINT [active_ingredient_medication_medication_id_foreign] FOREIGN KEY([medication_id])
REFERENCES [dbo].[medications] ([id])
GO
ALTER TABLE [dbo].[active_ingredient_medication] CHECK CONSTRAINT [active_ingredient_medication_medication_id_foreign]
GO
ALTER TABLE [dbo].[active_ingredient_user]  WITH CHECK ADD  CONSTRAINT [active_ingredient_user_active_ingredient_id_foreign] FOREIGN KEY([active_ingredient_id])
REFERENCES [dbo].[active_ingredients] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[active_ingredient_user] CHECK CONSTRAINT [active_ingredient_user_active_ingredient_id_foreign]
GO
ALTER TABLE [dbo].[active_ingredient_user]  WITH CHECK ADD  CONSTRAINT [active_ingredient_user_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[active_ingredient_user] CHECK CONSTRAINT [active_ingredient_user_user_id_foreign]
GO
ALTER TABLE [dbo].[allergy_user]  WITH CHECK ADD  CONSTRAINT [allergy_user_allergy_id_foreign] FOREIGN KEY([allergy_id])
REFERENCES [dbo].[allergies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[allergy_user] CHECK CONSTRAINT [allergy_user_allergy_id_foreign]
GO
ALTER TABLE [dbo].[allergy_user]  WITH CHECK ADD  CONSTRAINT [allergy_user_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[allergy_user] CHECK CONSTRAINT [allergy_user_user_id_foreign]
GO
ALTER TABLE [dbo].[customer_allergies]  WITH CHECK ADD  CONSTRAINT [customer_allergies_active_ingredient_id_foreign] FOREIGN KEY([active_ingredient_id])
REFERENCES [dbo].[active_ingredients] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customer_allergies] CHECK CONSTRAINT [customer_allergies_active_ingredient_id_foreign]
GO
ALTER TABLE [dbo].[customer_allergies]  WITH CHECK ADD  CONSTRAINT [customer_allergies_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customer_allergies] CHECK CONSTRAINT [customer_allergies_user_id_foreign]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [customers_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [customers_user_id_foreign]
GO
ALTER TABLE [dbo].[dispensed_items]  WITH CHECK ADD  CONSTRAINT [dispensed_items_medication_id_foreign] FOREIGN KEY([medication_id])
REFERENCES [dbo].[medications] ([id])
GO
ALTER TABLE [dbo].[dispensed_items] CHECK CONSTRAINT [dispensed_items_medication_id_foreign]
GO
ALTER TABLE [dbo].[dispensed_items]  WITH CHECK ADD  CONSTRAINT [dispensed_items_pharmacist_id_foreign] FOREIGN KEY([pharmacist_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[dispensed_items] CHECK CONSTRAINT [dispensed_items_pharmacist_id_foreign]
GO
ALTER TABLE [dbo].[dispensed_items]  WITH CHECK ADD  CONSTRAINT [dispensed_items_prescription_id_foreign] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[dispensed_items] CHECK CONSTRAINT [dispensed_items_prescription_id_foreign]
GO
ALTER TABLE [dbo].[dispensed_items]  WITH CHECK ADD  CONSTRAINT [dispensed_items_prescription_item_id_foreign] FOREIGN KEY([prescription_item_id])
REFERENCES [dbo].[prescription_items] ([id])
GO
ALTER TABLE [dbo].[dispensed_items] CHECK CONSTRAINT [dispensed_items_prescription_item_id_foreign]
GO
ALTER TABLE [dbo].[generated_reports]  WITH CHECK ADD  CONSTRAINT [generated_reports_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[generated_reports] CHECK CONSTRAINT [generated_reports_user_id_foreign]
GO
ALTER TABLE [dbo].[medications]  WITH CHECK ADD  CONSTRAINT [medications_active_ingredient_id_foreign] FOREIGN KEY([active_ingredient_id])
REFERENCES [dbo].[active_ingredients] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[medications] CHECK CONSTRAINT [medications_active_ingredient_id_foreign]
GO
ALTER TABLE [dbo].[medications]  WITH CHECK ADD  CONSTRAINT [medications_dosage_form_id_foreign] FOREIGN KEY([dosage_form_id])
REFERENCES [dbo].[dosage_forms] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[medications] CHECK CONSTRAINT [medications_dosage_form_id_foreign]
GO
ALTER TABLE [dbo].[medications]  WITH CHECK ADD  CONSTRAINT [medications_supplier_id_foreign] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[medication_suppliers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[medications] CHECK CONSTRAINT [medications_supplier_id_foreign]
GO
ALTER TABLE [dbo].[model_has_permissions]  WITH CHECK ADD  CONSTRAINT [model_has_permissions_permission_id_foreign] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[model_has_permissions] CHECK CONSTRAINT [model_has_permissions_permission_id_foreign]
GO
ALTER TABLE [dbo].[model_has_roles]  WITH CHECK ADD  CONSTRAINT [model_has_roles_role_id_foreign] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[model_has_roles] CHECK CONSTRAINT [model_has_roles_role_id_foreign]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [order_items_order_id_foreign] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [order_items_order_id_foreign]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [order_items_prescription_id_foreign] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [order_items_prescription_id_foreign]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [orders_customer_id_foreign] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [orders_customer_id_foreign]
GO
ALTER TABLE [dbo].[pharmacies]  WITH CHECK ADD  CONSTRAINT [pharmacies_responsible_pharmacist_id_foreign] FOREIGN KEY([responsible_pharmacist_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[pharmacies] CHECK CONSTRAINT [pharmacies_responsible_pharmacist_id_foreign]
GO
ALTER TABLE [dbo].[pharmacist_profiles]  WITH CHECK ADD  CONSTRAINT [pharmacist_profiles_pharmacy_id_foreign] FOREIGN KEY([pharmacy_id])
REFERENCES [dbo].[pharmacies] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[pharmacist_profiles] CHECK CONSTRAINT [pharmacist_profiles_pharmacy_id_foreign]
GO
ALTER TABLE [dbo].[pharmacist_profiles]  WITH CHECK ADD  CONSTRAINT [pharmacist_profiles_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pharmacist_profiles] CHECK CONSTRAINT [pharmacist_profiles_user_id_foreign]
GO
ALTER TABLE [dbo].[pharmacists]  WITH CHECK ADD  CONSTRAINT [pharmacists_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pharmacists] CHECK CONSTRAINT [pharmacists_user_id_foreign]
GO
ALTER TABLE [dbo].[pharmacy_manager]  WITH CHECK ADD  CONSTRAINT [pharmacy_manager_pharmacy_id_foreign] FOREIGN KEY([pharmacy_id])
REFERENCES [dbo].[pharmacies] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pharmacy_manager] CHECK CONSTRAINT [pharmacy_manager_pharmacy_id_foreign]
GO
ALTER TABLE [dbo].[pharmacy_manager]  WITH CHECK ADD  CONSTRAINT [pharmacy_manager_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pharmacy_manager] CHECK CONSTRAINT [pharmacy_manager_user_id_foreign]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [prescription_items_medication_id_foreign] FOREIGN KEY([medication_id])
REFERENCES [dbo].[medications] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [prescription_items_medication_id_foreign]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [prescription_items_prescription_id_foreign] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [prescription_items_prescription_id_foreign]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [prescriptions_doctor_id_foreign] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [prescriptions_doctor_id_foreign]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [prescriptions_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [prescriptions_user_id_foreign]
GO
ALTER TABLE [dbo].[role_has_permissions]  WITH CHECK ADD  CONSTRAINT [role_has_permissions_permission_id_foreign] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_has_permissions] CHECK CONSTRAINT [role_has_permissions_permission_id_foreign]
GO
ALTER TABLE [dbo].[role_has_permissions]  WITH CHECK ADD  CONSTRAINT [role_has_permissions_role_id_foreign] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[role_has_permissions] CHECK CONSTRAINT [role_has_permissions_role_id_foreign]
GO
ALTER TABLE [dbo].[stock_order_items]  WITH CHECK ADD  CONSTRAINT [stock_order_items_medication_id_foreign] FOREIGN KEY([medication_id])
REFERENCES [dbo].[medications] ([id])
GO
ALTER TABLE [dbo].[stock_order_items] CHECK CONSTRAINT [stock_order_items_medication_id_foreign]
GO
ALTER TABLE [dbo].[stock_order_items]  WITH CHECK ADD  CONSTRAINT [stock_order_items_stock_order_id_foreign] FOREIGN KEY([stock_order_id])
REFERENCES [dbo].[stock_orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_order_items] CHECK CONSTRAINT [stock_order_items_stock_order_id_foreign]
GO
ALTER TABLE [dbo].[stock_orders]  WITH CHECK ADD  CONSTRAINT [stock_orders_supplier_id_foreign] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[medication_suppliers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[stock_orders] CHECK CONSTRAINT [stock_orders_supplier_id_foreign]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]=N'dispensed' OR [status]=N'rejected' OR [status]=N'approved' OR [status]=N'pending'))
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD CHECK  (([delivery_method]=N'dispense' OR [delivery_method]=N'pickup'))
GO
ALTER TABLE [dbo].[stock_orders]  WITH CHECK ADD CHECK  (([status]=N'Received' OR [status]=N'Pending'))
GO
